.socialMediaIcons {
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.iconLink {
    display: inline-flex;
    transition: transform 0.3s ease;
}

.iconLink svg {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.iconLink svg path {
    fill: var(--dark-blue);
    transition: fill 0.3s ease;
}

.iconLink:hover svg {
    transform: scale(1.2);
}

.iconLink:hover svg path {
    fill: var(--light);
}
